<div class="card-new-ingredient" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url("tuxedo") %>);" >
  <h2>Add a new ingredient</h2>
  <%= render 'form', dose: @dose %>
  <%= link_to "Back", root_path  %>
</div>
